<div id="modalContainer" class="modal fade">
    <div id="modalDialog" class="modal-dialog modal-dialog-centered">
        <div id="modalContent" class="modal-content">
        </div>
    </div>
</div>
